.header {
    //width: 100%;
    min-height: 166.53px;
}

.bgHeader {
    background-image: url('../../public/bg-header.png');
    height: 116.53px;
    display: flex;
    align-items: center;
}

.logo {
    padding-left: 10px;
}

.textMenu {
    min-width: 110px;
    min-height: 33px;
    padding: 2px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #e3e0e0;
    border-radius: 4px;
    margin: 2px;
    color: #fff;
    text-decoration: none;
    &:hover {
        background-color: #30cd30;
        color: #333;
    }
}