.title {
    color: var(--bs-green);
    margin: 40px;
    font-weight: bold;
}

.paragraph {
    color: var(--bs-green);
    margin-bottom: 30px;
}

.textWrapper {
    color: var(--bs-red);
    font-weight: 700;
}

.textContent {
    margin: 20px;
}